/* Custom fonts */
@font-face {
  font-family: "thunderstorm";
  src: url(./fonts/Thunderstorm.ttf);
}

@font-face {
  font-family: "good-times";
  src: url(./fonts/good-times.rg-regular.otf);
}

@font-face {
  font-family: "glitch";
  src: url(./fonts/SystemGlitch-Regular.otf);
}

@font-face {
  font-family: "heatwave";
  src: url(./fonts/Heatwave.otf);
}

/* CSS Variables */
:root {
  --neon-pink: hsl(317 100% 54%);
  --neon-blue: hsl(178, 100%, 54%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: url(./Images/background.jpg) no-repeat center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: "thunderstorm";
  font-size: 6rem;
  color: var(--neon-pink);
  background-color: var(--neon-pink);
  background-image: linear-gradient(
    360deg,
    hsl(317 100% 54%),
    hsl(178, 100%, 54%)
  );
  background-size: inherit;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
}

h3 {
  font-size: 3rem;
  font-family: "good-times";
}

#computer h3 {
  color: var(--neon-pink);
}

#user h3 {
  color: var(--neon-blue);
}

.selection {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

img {
  width: 15rem;
  transition: ease-in-out 0.25s;
  cursor: pointer;
}

.selection img:hover {
  transform: scale(1.2);
}

.selection img:active {
  transform: scale(1.4);
  transition: 0.1s;
}

#user,
#computer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#user-selection img,
#computer-selection img {
  margin: 0;
  width: 10rem;
}

.results {
  display: flex;
  justify-content: space-around;
}

.result {
  align-self: center;
  margin: 0;
  font-family: "glitch";
  font-weight: 400;
  font-size: 6rem;
  color: white;
  text-transform: uppercase;
  /* glitch effect */
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

  animation: glitch 300ms;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@media screen and (max-width: 1000px) {
  h3 {
    font-size: 3rem;
  }
  .selection {
    flex-direction: column;
    gap: 0;
    margin-top: 0;
  }

  img {
    width: 15rem;
  }
}

@media screen and (max-width: 800px) {
  h3 {
    font-size: 2.75rem;
  }
  .selection {
    flex-direction: column;
    gap: 0;
  }

  img {
    width: 15rem;
  }
}

@media screen and (max-width: 600px) {
  h3 {
    font-size: 2.5rem;
  }
  .selection {
    flex-direction: column;
    gap: 0;
  }

  img {
    width: 12rem;
  }
}
